%h1
  Edit #{resource_name.to_s.humanize}
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  .row
    = f.label :username
    = f.text_field :username
  -#
    .row
      = f.label :xbox_live_name
      = f.text_field :xbox_live_name
  .row
    = f.label :email
    = f.email_field :email
  .row
    = f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password
  .row
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    = f.password_field :current_password
  .row
    = f.submit "Update", :class => "btn"
%h2 Cancel my account
%p
  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.