%div{:style=> "font-size:16px;"}
  %h1
    = @game.title
    = @game.platform
  = image_tag @game.image

  - amazon_values = []
  - @game.values.where(:vendor=>'amazon').each do |v|
    - amazon_values << "[#{v.created_at.to_f.to_i * 1000},#{v.value_as_decimal}]"

  - best_buy_values = []
  - @game.values.where(:vendor=>'best_buy').each do |v|
    - best_buy_values << "[#{v.created_at.to_f.to_i * 1000},#{v.value_as_decimal}]"

  - glyde_values = []
  - @game.values.where(:vendor=>'glyde').each do |v|
    - glyde_values << "[#{v.created_at.to_f.to_i * 1000},#{v.value_as_decimal}]"

  #graph
  - content_for :footer do
    :javascript
      $(function () {
          var amazon = [#{amazon_values.join(',')}];
          var best_buy = [#{best_buy_values.join(',')}];
          var glyde = [#{glyde_values.join(',')}];
          
          var options = {
              xaxis: { mode: "time", tickLength: 5, timeformat: "%m/%d %h:%M%p" },
              yaxis: { mode: "money", tickDecimals: 2, tickFormatter:
                function (v, axis) { return "$" + v.toFixed(axis.tickDecimals) }
              },
              points: {
                radius: 5,
                symbol: "circle"
              },
              series: {
                lines: { show: true, fill: false },
                points: { show: true, fill: true },
              },
              grid: {clickable: true, hoverable: true}
          };
          
          function showTooltip(x, y, contents) {
              $('<div id="tooltip">' + contents + '</div>').css( {
                  position: 'absolute',
                  display: 'none',
                  top: y + 5,
                  left: x + 5,
                  border: '1px solid #fdd',
                  padding: '2px',
                  'background-color': '#fee',
                  opacity: 0.80
              }).appendTo("body").fadeIn(200);
          }
          
          var previousPoint = null;
          $("#graph").bind("plothover", function (event, pos, item) {
              if (item) {
                  if (previousPoint != item.dataIndex) {
                      previousPoint = item.dataIndex;
                      
                      $("#tooltip").remove();
                      var x = item.datapoint[0].toFixed(2),
                          y = item.datapoint[1].toFixed(2);
                      
                      showTooltip(item.pageX, item.pageY, item.series.label + ": $" + y);
                  }
              }
              else {
                  $("#tooltip").remove();
                  previousPoint = null;            
              }
          });
          
          var data = [
            { label: "Amazon", data: amazon },
            { label: "Best Buy", data: best_buy },
            { label: "Glyde", data: glyde }
          ];
          
          $.plot($("#graph"), data, options);
      });
        
  %ul
    - @vendors.each do |vendor|
      - url = fill_in(vendor[:url], :id => eval("@game.#{vendor[:permalink]}_id"))
      - latest_value = @game.values.where(:vendor => vendor[:permalink]).latest
      - if url && latest_value
        %li
          .pbw
            .b
              %a.vn{:href=> url }
                = vendor[:name]
              %a.tv{:href=> url }
                = currency latest_value.value
          = vendor[:conditions]
        
  %ul
    %li
      %a{:href=>"#"}
        Add to game library
    %li
      %a{:href=>"#"}
        Share trade-in values
    %li
      %a{:href=>"#"}
        Set price alert
  