- if @games
  .library-header
    = avatar_image_tag({:size=>'large',:type=>'body'})
    %h1 #{current_user.username}'s Library: #{pluralize @games.count, 'item' }
    .library-meta
      Today's value from:
      %select#value-selector
        = options_for_select({'Amazon'=>'amazon','Best Buy'=>'best_buy','Glyde'=>'glyde'}, @vendor)
      = currency @library_value
  %section#pl
    = render :partial => "games/game", :collection => @games
- else
  You don't have anything in your library