!!!
- conditional_html 'en'
%head
  %meta{:charset=>"utf-8"}
  %meta{:name=>"viewport", :content=>"width=device-width,initial-scale=1,maximum-scale=1"}
  %title 
    = !yield(:title).blank? ? "#{yield(:title)} | Tradaculator" : "Tradaculator | Finding the best game trade-in values from across the web"
  = stylesheet_link_tag    "application"
  %link{:rel => 'shortcut icon', :href => image_path('favicon.ico')}
  %link{:rel => 'apple-touch-icon-precomposed', :sizes => "114x114", :href => image_path('apple-touch-icon-114x114.png')}
  %link{:rel => 'apple-touch-icon-precomposed', :sizes => "72x72", :href => image_path('apple-touch-icon-72x72.png')}
  %link{:rel => 'apple-touch-icon-precomposed', :href => image_path('apple-touch-icon-57x57.png')}  
  = javascript_include_tag "http://use.typekit.com/eqp1oco.js"
  :javascript
      try{Typekit.load();}catch(e){}
  /[if lt IE 9]
    = javascript_include_tag "//html5shiv.googlecode.com/svn/trunk/html5.js"
  /[if lte IE 8]
    %script{:src=>javascript_path('excanvas')}
  = csrf_meta_tags
%body{:class=>"#{controller_name}_template"}
  %header#mh
    %div
      %a#b{:href=>root_url} Tradaculator
      %p Finding the best game trade-in values from across the web
      = form_tag root_url do
        %input{:type=>"text", :id=>"s", :name=>"query", :placeholder=> "search…", :value=>@query}
        %input{:id=>"m", :type=>"image", :src=>asset_path('search.png')}
  %section#pl
    = yield
  = yield(:product_list_meta)
  %footer
    = "Follow the project and give us feedback #{link_to "@tradaculator", "http://twitter.com/tradaculator"}.".html_safe
  = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"
  :javascript
    window.jQuery || document.write('<script src="#{javascript_path('jquery')}"><\/script>')
  = javascript_include_tag "application"
  :javascript
    var _gaq=[['_setAccount','UA-6089161-18'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  :javascript
    var clicky_site_ids = clicky_site_ids || [];
    clicky_site_ids.push(66488119);
    (function() {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = '//static.getclicky.com/js';
    ( document.getElementsByTagName('head')[0] ||
    document.getElementsByTagName('body')[0] ).appendChild( s );
    })();
  %noscript
    %p
      %img{:alt=>"Clicky", :width=>"1", :height=>"1", :src=>"//in.getclicky.com/66488119ns.gif"}
  = yield(:footer)