!!!
- conditional_html 'en'
%head
  %meta{:charset=>"utf-8"}
  %meta{:name=>"viewport", :content=>"width=device-width,initial-scale=1,maximum-scale=1"}
  %title 
    = !yield(:title).blank? ? "#{yield(:title)} | Tradaculator" : "Tradaculator | Finding the best game trade-in values from Amazon, Best Buy and Glyde"
  = stylesheet_link_tag    "application"
  %link{:rel => 'shortcut icon', :href => image_path('favicon.ico')}
  %link{:rel => 'apple-touch-icon-precomposed', :sizes => "114x114", :href => image_path('apple-touch-icon-114x114.png')}
  %link{:rel => 'apple-touch-icon-precomposed', :sizes => "72x72", :href => image_path('apple-touch-icon-72x72.png')}
  %link{:rel => 'apple-touch-icon-precomposed', :href => image_path('apple-touch-icon-57x57.png')}  
  = javascript_include_tag "http://use.typekit.com/eqp1oco.js"
  :javascript
      try{Typekit.load();}catch(e){}
  /[if lt IE 9]
    = javascript_include_tag "//html5shiv.googlecode.com/svn/trunk/html5.js"
  /[if lte IE 8]
    %script{:src=>javascript_path('excanvas.js')}
  = csrf_meta_tags
%body{:class=>"#{controller_name}_template"}
  %header#mh
    %div
      %a#b{:href=>root_url} Tradaculator
      %p Finding the best game trade-in values from across the web
      = form_tag root_url do
        %input{:type=>"text", :id=>"s", :name=>"query", :placeholder=> "search…", :value=>@query}
        %input{:id=>"m", :type=>"image", :src=>asset_path('search.png')}
      .hmenu
        = render 'devise/menu/registration_items'
        = render 'devise/menu/sign_in_items'
  - flash.each do |name, msg|
    = content_tag :div, msg, :class => name
  %section#pl
    = yield
  = yield(:product_list_meta)
  %footer#footer
    %a#back-to-top.exit-stage-right{:href=>"#mh"}
      Back to top
    %a.typekit{:href=>"https://typekit.com/colophons/eqp1oco"} Fonts from Typekit
    #social-buttons
      %a{:href=>"https://twitter.com/share", :class=>"twitter-share-button", :data=>{:url=>"http://tradaculator.com", :text=>"Find the best trade-in values", :count=>"horizontal", :via=>"tradaculator", :related=>"bobbymarko:nathanmueller"}}
        Tweet
      .g-plusone{:data=>{:size=>"medium", :href=>"http://tradaculator.com"}}
      .fb-like{:data=>{:href=>"http://tradaculator.com", :send=>"false", :layout=>"button_count"}}
  
  - unless current_user
    %div{:style => "display:none;"}
      #sign-in-modal
        = render "devise/sessions/form"
  
  = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"
  :javascript
    window.jQuery || document.write('<script src="#{javascript_path('jquery.js')}"><\/script>')
  = javascript_include_tag "application"
  %noscript
    %p
      %img{:alt=>"Clicky", :width=>"1", :height=>"1", :src=>"//in.getclicky.com/66488119ns.gif"}
  #fb-root
  = yield(:footer)