!!!
%html{:lang=>"en"}
  %head
    %meta{:charset=>"utf-8"}
    %meta{:name=>"viewport", :content=>"width=device-width,initial-scale=1,maximum-scale=1"}
    %title Tradaculator
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body
  %header#mh
    %div
      %a#b{:href=>root_url} Tradaculator
      %p Calculating game trade-in values from across the web
      = form_tag root_url do
        %input{:type=>"text", :id=>"s", :name=>"query", :placeholder=> "search…", :value=>@query}
        %input{:id=>"m", :type=>"image", :src=>asset_path('search.png')}
  %section#pl
    = yield
  = yield(:product_list_meta)
  %footer
    = "From #{link_to "@bobbymarko", "http://twitter.com/bobbymarko"} and #{link_to "@nathanmueller", "http://twitter.com/nathanmueller"}. Follow the project #{link_to "@tradaculator", "http://twitter.com/tradaculator"}.".html_safe